body {
    background: url(4.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tab {
    margin-top: 20px;

    background-color: rgb(211, 219, 226);
}
.rowses {
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
    text-align-last: center;
}

.tab-col {
    background: -moz-linear-gradient(
        top,
        rgba(30, 87, 153, 1) 0%,
        rgba(30, 87, 153, 0.44) 56%,
        rgba(125, 185, 232, 0) 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(30, 87, 153, 1) 0%,
        rgba(30, 87, 153, 0.44) 56%,
        rgba(125, 185, 232, 0) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(30, 87, 153, 1) 0%,
        rgba(30, 87, 153, 0.44) 56%,
        rgba(125, 185, 232, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );

    text-align-last: center;
    
}
