body {
    /* меняем фон  */
    background: url(6.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(1px);
}

.tab {
    /* меняем цвет таблици */
    margin-top: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6a9a1e+100,6a9a1e+100,cae87e+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(202, 232, 126, 1) 0%, rgba(202, 232, 126, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        rgba(202, 232, 126, 1) 0%,
        rgba(202, 232, 126, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        rgba(202, 232, 126, 1) 0%,
        rgba(202, 232, 126, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae87e', endColorstr='#00cae87e',GradientType=0 ); /* IE6-9 */
}
.rowses {
    /* меняем цвет таблици */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6a9a1e+100,6a9a1e+100,cae87e+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(202, 232, 126, 1) 0%, rgba(202, 232, 126, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        rgba(202, 232, 126, 1) 0%,
        rgba(202, 232, 126, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        rgba(202, 232, 126, 1) 0%,
        rgba(202, 232, 126, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae87e', endColorstr='#00cae87e',GradientType=0 ); /* IE6-9 */

    text-align-last: center;
}

.tab-col {
    /* меняем цвет таблици */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6a9a1e+100,6a9a1e+100,cae87e+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(202, 232, 126, 1) 0%, rgba(202, 232, 126, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        rgba(202, 232, 126, 1) 0%,
        rgba(202, 232, 126, 0) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        rgba(202, 232, 126, 1) 0%,
        rgba(202, 232, 126, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae87e', endColorstr='#00cae87e',GradientType=0 ); /* IE6-9 */

    text-align-last: center;
}
